<section id="social">
    <!--<a target="_blank" href="#"><span class="ion-social-skype"></span></a>
    <a target="_blank" href="#"><span class="ion-social-github"></span></a>-->
    <a target="_blank" href="https://www.linkedin.com/in/emma-hammond-a4742970"><span class="ion-social-linkedin"></span></a>
    <a target="_blank" href="https://twitter.com/GoodEggSocial"><span class="ion-social-twitter"></span></a>
    <!--<a target="_blank" href="#"><span class="ion-social-facebook"></span></a>-->
</section>
